{% include "header.html" %}
    
    {% if messages %}
		<div class="messages">
		{% for message in messages %}
			<div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
				{{ message }}
			</div>
		{% endfor %}
		</div>
	{% endif %}

 <div class="container">
   

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#id</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Position</th>
            <th scope="col">Join-Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>


            {% for employee in employees %}
            <tr>
            <td>{{ employee.id }}</td>
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.date_of_joining }}</td>
            <td><a href="{% url 'edit_employee' employee.pk %}" class="btn btn-primary btn-sm">Edit</a></td>

            {% endfor %}
          </tr>

        </tbody>
      </table>

 </div>

    {% include "footer.html" %}